<% @current_room.messages.each do |msg| %>
  <div class="direct-chat-msg">
    <div class="direct-chat-info clearfix">
      <span class="direct-chat-name pull-left">
        <%= msg.user.name %>
      </span>
      <span class="direct-chat-timestamp pull-right">
        <%= time_ago_in_words(msg.created_at) %>
      </span>
    </div>
    <img class="direct-chat-img" src="" alt="">
    <div class="direct-chat-text">
      <%= smg.content %>
    </div>
  </div>
<% end %>
