<div class="input-group">
  <input type="text" name="message" id="new_message_input" placeholder="Type Message ..." class="form-control">
  <span class="input-group-btn">
    <button id="send_new_message" class="btn btn-warning btn-flat">Send</button>
  </span>
</div>
