$(document).ready(function () {
  scroll_end();
  $.ajaxSetup({
    headers: {
      'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    }
  });

  $( "#InviteModal" ).on('show.bs.modal', function(){
      $("#inviteName").val("");
      $('#inviteResultList').empty();
  });

  $(document).on('keypress', '#inviteName',function(e) {
    $('#inviteResultList').empty();
    if(e.which == 13){
      var username = $('#inviteName').val();
      $.ajax({
          url: '/users/search',
          type: 'POST',
          dataType: 'JSON',
          data: {
            name: username
          }
      }).done(function(result) {
        var users = result.data
        console.log(users.length);
        if(users.length){
          var i = 0;
          for(i=0;i<users.length;i++){
            var html = '<tr ><td>'+users[i].name+'</td>'
              + '<td>'
              + '<button class=\"btn btn-primary invite-btn\"  value=\"'+users[i].id+'\">'
              + 'Invite</button>'
              + '</td>'
              + '</tr>';
            $('#inviteResultList').append(html);
          }
        }
        else{
          var html = '<p>user not found</>';
          $('#inviteResultList').append(html);
        }
      });
    }
  })

  $(document).on('click', '.invite-btn', function () {
    var user_id = $(this).val();
    var room_id = $("#inviteRoomId").val();
    $.ajax({
        url: '/invites',
        type: 'POST',
        dataType: 'JSON',
        data: {
          user_id: user_id,
          room_id: room_id
        }
    }).done(function(result) {
      if (result.data) toastr.success('Invite success!');
      else toastr.warning('Invite fail!');
    });
  })

  $(".invite_element").on("click", function () {
    var invite_element = $(this);
    var invite_id = $(this).val();
    $.ajax({
        url: '/join_rooms',
        type: 'POST',
        dataType: 'JSON',
        data: {
          invite_id: invite_id
        }
    }).done(function(result) {
      toastr.success('Join room \"'+result.room_name+'\" success!');
      invite_element.remove();
      $(".invite-count").html(result.count);
    });
  })

  $(document).on('click', '#send_new_message', function (){
    send_new_message();
  })

  $(document).on('keypress', '#new_message_input', function (e){
    if(e.which == 13){
      send_new_message();
    }
  })
})

function send_new_message(){
  var content = $("#new_message_input").val();
  var room_id = $("#inviteRoomId").val();
  $.ajax({
      url: '/messages',
      type: 'POST',
      dataType: 'JSON',
      data: {
        content: content,
        room_id: room_id
      }
  }).done(function(result) {
    $('#new_message_input').val('');
  });
}

function update_mesage(result){
  var html = '<div class=\"direct-chat-msg\">'
              + '<div class=\"direct-chat-info clearfix\">'
              + '<span class=\"direct-chat-name pull-left\">'
              + result.user
              + '</span>'
              + '<span class=\"direct-chat-timestamp pull-right\">'
              + result.data.created_at
              + '</span>'
              + '</div>'
              + '<img class=\"direct-chat-img\" src=\"\">'
              + '<div class=\"direct-chat-text\">'
              + result.data.content
              + '</div>'
              + '</div>';
    $('#message_list').append(html);
    scroll_end();
}
<% if $current_room %>
App.cable.subscriptions.create({channel: 'RoomChannel', room: "<%= $current_room.id %>"}, {
  received: function(data) {
    update_mesage(data);
  },
});
<% end %>

function scroll_end() {
  var msg_list = document.getElementById('message_list');
  msg_list.scrollTop = msg_list.scrollHeight;
}
