@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'toastr';

html, body{
  height: 100%;
  overflow: hidden;
}

.h-100{
  height: 100%;
}

.vh-87{
  height: 87vh;
}

.vh-100{
  height: 100vh;
}

.scroll{
  overflow: scroll;
}

.h-10{
  height: 10%;
}

.h-8{
  height: 8%;
}

.h-82{
  height: 82%;
}

.login-form {
  width: 340px;
  margin: 50px auto;
  form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  h2 {
    margin: 0 0 15px;
  }
  &, .btn {
    min-height: 38px;
    border-radius: 2px;
  }
}
