<!DOCTYPE html>
<html>
<head>
  <title>Chatwalk</title>
  <%= render "layouts/rails_default" %>
</head>

<body>
  <div>
    <% flash.each do |message_type, message| %>
      <%= hidden_field_tag "", message, class: "flash_msg #{message_type}" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
